@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /* grid settings*/
    --grid-gap: 10px;
    --padding-default: 20px;

    /* colors */
    --background-color-navigation: #00000088; 
    --background-color-light: #ededed;
    --background-color-dark-bg: #2c241f;
    --primary-color: #f37413;
    --color-white: #ffffff;
    --color-black: #373737;
    --color-light: #ebebeb;
    --color-grey: #ffffffb3;

    /* Color swatches*/
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9a951e;
    --category-pasta: #bf5b23;



}

/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}
body, html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);
    
}

.navigation, .hero, .image_section, .footer {
    width: var(--width-full);
}

.todays_recipes, .categories, .content_area {
width: var(--width-12col);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding:30px 0 30px 0;
    position: absolute;
    z-index: 10;
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed {
position:fixed;
top:0;
width: 100%;
z-index: 1000;
}

.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
display:flex;
list-style-type: none;
}

.menu-container a {
padding: 0 10px;
text-decoration: none;
color: var(--background-color-light);
text-transform: uppercase;

}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}

.menu-container ul li:last-child {
    border-right: none;
}

.menu-container ul li a:hover{
    color: var(--primary-color);

}

.clicked  {
color: var(--primary-color) !important;
}
.hero {
    background-image: url('Img/soup.png');
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);



}

.hero-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;

}

.hero-text {
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.hero-text h1 {
    padding: 0; /*redundant*/
    margin: 15px 0 15px 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
}

.hero-text h1 span {
    font-weight: 900;
    font-size: 32px;
}

.hero-text p {
    font-size: 14px;
}

.search-box {
grid-column: 2 / span 3;
grid-row: 2;
margin: 60px 0 0 0;
}


.search-icon {
position: absolute;
margin-left: 10px;
margin-top: 8px;

}

.search-input {
    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 15px 0;
}

.search-input::placeholder {
color: var(--background-color-light);
}

/* Todays recipes area start */
.todays_recipes {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}


.todays_recipes_headline {
width: 100%;
color: var(--background-color-light);
height: 45px;
border-bottom: 1px solid var(--background-color-light);
margin: 70px 0 0 0;
font-size: 37px;
text-transform: uppercase;
font-weight: 900;

}

.todays_recipes_content_block_image img {
height: 200px;
width: 100%;
background-size: cover;
background-position: center;
border-radius: 5px 5px 0 0;
}

.todays_recipes_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;

}

.todays_recipes_content_block {
    background-color: var(--background-color-light);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.todays_recipes_content_block_text {
    padding: 20px;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todays_recipes_content_block_text h5 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-transform: uppercase;

}

.todays_recipes_content_block_text p {
    font-size: 16px;

}

.todays_recipes_content_block_bottom_area {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;

}

.todays_recipes_content_block_bottom_area_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;

}

.todays_recipes_content_block_bottom_area_left p {
font-size: 12px;
font-weight: 300;
text-transform: uppercase;
}

.todays_recipes_content_block_bottom_area_left p:last-child {
font-weight: 800;
}

.todays_recipes_content_block_bottom_area_right_button button {
    background-color: var(--color-black);
    border:1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 12px;

}

.todays_recipes_content_block_bottom_area_right_button button a {
color: var(--color-white);
text-decoration: none;
text-transform: uppercase;
font-size: 12px;
font-weight: 400;
}

/* data-categories colors start*/
div[data-category="seafood"]  {
    border-left: 1px solid var(--category-seafood);
}
div[data-category="seafood1"] {
    color: var(--category-seafood);
}
 p[data-category="seafood"], span[data-category="seafood"]  {
color: var(--category-seafood);
 }

 a[data-category="seafood"] {
    border-left: 3px solid var(--category-seafood);
}
 
/* data-categories colors end*/

/* data-categories colors start*/
div[data-category="chicken"] {
    border-left: 1px solid var(--category-chicken);
}
a[data-category="chicken"] {
    border-left: 3px solid var(--category-chicken);
}
div[data-category="chicken1"] {
color: var(--category-chicken);
 }
 p[data-category="chicken"],  span[data-category="chicken"]{
color: var(--category-chicken);
 }
/* data-categories colors end*/

/* data-categories colors start*/
div[data-category="dessert"] {
    border-left: 1px solid var(--category-dessert);
}
div[data-category="dessert1"] {
color: var(--category-dessert);
 }
 p[data-category="dessert"] {
color: var(--category-dessert);
 }
/* data-categories colors end*/
h2[data-category="kitchen"] {
  border-left: 3px solid var(--category-pasta)
}

/* data-categories colors start*/
div[data-category="veg"] {
   color: var(--category-veg)
}

p[data-category="veg"] {
color: var(--category-veg);
 }
 
/* data-categories colors end*/

/* data-categories colors start*/
div[data-category="meats"] {
    border-left: 1px solid var(--category-meats);
}
div[data-category="meats1"] {
color: var(--category-meats);
 }
 p[data-category="meats"] {
color: var(--category-meats);
 }
/* data-categories colors end*/

/* data-categories colors start*/
div[data-category="misc1"] {
color: var(--category-misc);
}

 p[data-category="misc"] {
color: var(--category-misc);
 }
/* data-categories colors end*/

/* data-categories colors start*/
div[data-category="pastas1"] {
color: var(--category-pasta);
}

 p[data-category="pastas"] {
color: var(--category-pasta);
 }
/* data-categories colors end*/

/* data-categories colors start*/
div[data-category="orange"] {
color: var(--primary-color);
}

 p1[data-category="orange"] {
color: var(--primary-color);
 }
/* data-categories colors end*/

/* categories start */

.categories {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}


.categories_headline {
width: 100%;
color: var(--background-color-light);
height: 45px;
border-bottom: 1px solid var(--background-color-light);
margin: 70px 0 0 0;
font-size: 37px;
text-transform: uppercase;
font-weight: 900;

}

.categories_content_block {
    background-color: var(--background-color-light);
    border-radius: 5px;
    padding: 16px;
}

.category_content {
    display: flex;
    flex-direction: row;
    gap: 105px;
    justify-content: center;
    flex-wrap: wrap;
 }

 .categories_content_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

 }

 /* categories end */
    
    
    

 
/* image section start */

 .image_section {
    background-image: url('img/dish.png');
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: var(--background-color-light);
    margin: 150px 0 0 0 ;
    border-bottom: 1px solid var(--background-color-dark-bg);
    width: var(--width-full);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);



}

 .image_section_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 130px auto;
    width: var(--width-12col);
}


.image_box_content_block {  
    background-color: var(--background-color-light);
    grid-column: 9 / span 4;
    grid-row: 2;
    margin: 100px 0 0 0;
    border-radius: 5px;
    width: 367px;
    height: 187px;
    }

.image_section_content_block_text_bottom {
     padding: 10px;
    color: var(--color-black);
    display: flex;
    justify-content: flex-start ;
}

 
.image_section_content_block_text_top {
    font-size: 16px;
    font-weight: bold;

}

.image_section_content_block_middle h2 {
    color: var(--primary-color);
    font-size: 22px;
    
    
}

.image_section_content_block_text_top h4 {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.image_section_content_block_end p {
    font-size: 16px;
    
}

.image_section_content_block_text {
    padding: 35px;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* content start */

.content_area {
   display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;  /* automatically creates new rows as needed */
  gap: var(--grid-gap);
  margin: 0 auto;
  box-sizing: border-box;
}


.content_headline {
width: 100%;
color: var(--background-color-light);
height: 45px;
border-bottom: 1px solid var(--background-color-light);
margin: 70px 0 15px 0;
font-size: 37px;
text-transform: uppercase;
font-weight: 900;
}

.content_area_block {
    background-color: var(--background-color-light);
    padding: 56px 38px;
    width: 50%;
    box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_area_button button {
    background-color: var(--color-black);
    border:1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 50px;
}

.content_area_button a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 100;
    text-decoration: none;
}

.content_area_text {
    padding: 35px;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}


.content_area_text h3 {
    color: var(--primary-color);
    font-size: 22px;
    
    
}

.content_area_text h2 {
    font-size: 16px;
}

.content_area_text_top {
   display: flex;
gap: 8px;
    
}
.content_area_text_bottom {
    gap: 0;
    padding: 0 0 40px 0;
}

.content_area_image{
   width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  

}

.content_area_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} 

.content_area_block_image {
    display: flex;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
  

}

/* footer start */


.footer_block_color {
    background-color: var(--primary-color);
    width: var(--width-full);
    margin-top: 250px;
    padding: 40px 50px 20px 50px;
}

.footer_all {
     width: var(--width-12col);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    position: relative;
    gap: 20px;
    
    
}

 

.footer_block_left {
    grid-column: 1 / span 4;
}

.footer_text {
    display: flex;
  flex-direction: column;
  gap: 10px; 
  padding: 10px 0 0 0;

 
}
.footer_svg {
display: flex;
  flex-direction: column;
  justify-content: center; /* vertically align icons with text */
  align-items: flex-start; /* align icons to the left */
  gap: 10px; 


}

.footer_block_center {
   grid-column: 5 / span 4 ;
   text-align: center;
    

}
 
.footer_block_right {
  grid-column: 9 / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
 gap: 10px;
}

.footer_block_left p {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 8px;

}

.footer_block_center p {
    margin: 9px 0;
    display: flex;
    align-items: center;
    gap: 8px;

}

.footer_block_right p {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}
 
.footer_block_right_white {
    color: var(--background-color-light);
    font-size: 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.footer_block_right_end_svg {
    display: flex;
    gap: 10px;

}
.footer_block_right_end {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    gap: 0;
}




/* Recipe details page */
.hero_recipe {
    background-color: var(--background-color-dark-bg);
    background: linear-gradient(0deg, #ededed11, #ededed07);
    min-height: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.recipe-container{
     width: var(--width-12col);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.recipe-text {
    grid-column: 1 / span 6;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.recipe-text h1 {
    padding: 0; /*redundant*/
    margin: 15px 0 15px 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
}

.recipe-text h1 span {
    font-weight: 900;
    font-size: 32px;
}


.hero_recipe_svg {
    grid-column: 1 / span 6;
    display: flex;
justify-content: center;
gap: 130px;
flex-wrap: wrap;
  padding: 50px 0 0 0;
  
}

.hero_recipe_svg p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.top_orange_text {
    color: var(--primary-color);
    font-size: 13px;

}
.recipe_block_ingredients {
    padding: 50px 0 0 0;
  
}
.recipe_block_ingredients_first_list {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    display: flex;
justify-content: center;
gap: 130px;
font-size: 13px;
font-weight: 300;
}

.recipe_block_ingredients_first_list ul {
   padding-left: 15px;
   margin: 0;
   
}

.recipe_block_ingredients_first_list li {
   margin-bottom: 7px;
}

.recipe_button {
padding: 20px 0 10px 0;
}

.recipe_button button{
background-color: transparent;
    border:1px solid var(--color-white);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 3px 5px;
}

.recipe_button a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 100;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

/* Right side top image */
.recipe_details_right {
  grid-column: 7 / span 6;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.recipe_details_right_image {
    
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} 

.recipe_details_right_image img {
  width:100%;
  height: 100%;
  max-width: fit-content;
  max-height: 500px;

}

/* instructions area */
.instructions_block {
 width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
    
    
}

.instructions_headline {
 grid-column: 1 / span 12;
width: 100%;
color: var(--background-color-light);
height: 45px;
border-bottom: 1px solid var(--background-color-light);
margin: 70px 0 0 0;
font-size: 37px;
text-transform: uppercase;
font-weight: 900;
}

.instructions_block_list {
    grid-column: 1 / span 8;
    width: 100%;
    margin-bottom: 250px;
    
  
}

.instructions_block ul {
list-style-type: decimal;
color: var(--background-color-light);
font-size: 14px;
font-weight: 300;
 margin-top: 20px;
 padding-left: 20px;
    
}

.instructions_block li {
    margin-bottom: 40px;
}

/* instructions image */


.instructions_images {
    grid-column: 10 / span 3;
  margin-top: 20px;
    display: flex;
   flex-direction: column;
   gap: 30px;

} 

.recipe_details_instructions_right_image {
    width:100%;
    max-width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.recipe_details_instructions_right_image img {
  width:100%;
  height: 100%;
  max-width: fit-content;
  

}

/* instructions ingredients area */
.instructions_ingredients {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.instructions_ingredients_headline {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    border-bottom: 1px solid var(--background-color-light);
color: var(--background-color-light);
margin: 70px 0 0 0;
font-size: 37px;
text-transform: uppercase;
font-weight: 900;
}

.headline_left {
    grid-column: 1 / span 6;

}

.headline_right {
    grid-column: 9 / span 3;
}

/* ingredients area */

.instructions_bonus_list {
    grid-column: 1 / span 6;
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
color: var(--background-color-light);
font-size: 14px;
font-weight: 300;


}


.instructions_bonus_list li {
    margin-bottom: 30px;
    padding-left: 60px;
    position: relative;

}

.step-list {
    position: absolute;
    left: 0;
    top: 45px;
    color: var(--primary-color);
    font-size: 13px;
    transform: rotate(-90deg);
    transform-origin: left top;

}

.ingredients_list {
    grid-column: 9 / span 4;
    color: var(--background-color-light);
    font-size: 14px;
font-weight: 300;
margin-top: 20px;
margin-bottom: 900px;
}

.ingredients_list ul {
    list-style-type: none;
 
}

.ingredients_list li {
margin-bottom: 10px;
}



/* Search page */
.hero-searchpage {
    min-height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin-top: 150px;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.hero-container-searchpage {
     display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    width: var(--width-12col);
}

.search-box-searchpage {
    grid-column: 1 / span 6;
    grid-row: 2;
    margin: 60px 0 0 0;

}

.search-input-searchpage {
    background-color: transparent;
    padding: 10px 150px 10px 50px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 10px 0;

}

.search-input::placeholder {
    color: var(--background-color-light);

}

.fullsearch-headline {
    width: 100%;
    color: var(--background-color-light);
    margin: 0 0 15px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.filter-category-checkbox {
    background-color: var(--background-color-dark-bg);
    background: linear-gradient(90deg, #ededed25, #ededed00);
    grid-column: 6 / span 6;
    grid-row: 2;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    border-radius: 5px;
    
}

.filter-category-checkbox h3 {
width: 100%;
font-size: 22px;
font-weight: 400;

}

.filter-category-checkbox label {
    display: flex;
    align-items: center;
    margin: 0px 0;
    color: var(--background-color-light);
    font-size: 14px;
    font-weight: 300;
    width: 50%;
    height: 20px;
    

}

.filter-category-checkbox input [type="radio"] {
margin-right: 10px;
height: 22px;
width: 22px;
}

.filter-category-checkbox input:checked {
    border: 2px solid var(--primary-color);
}

.filter-category-checkbox input[type="radio"]#chicken {
accent-color: var(--category-chicken);
}

.filter-category-checkbox input[type="radio"]#seafood {
accent-color: var(--category-seafood);
}

.filter-category-checkbox input[type="radio"]#meats {
accent-color: var(--category-meats);
}

.filter-category-checkbox input[type="radio"]#veg {
accent-color: var(--category-veg);
}

.filter-category-checkbox input[type="radio"]#dessert {
accent-color: var(--category-dessert);
}

.filter-category-checkbox input[type="radio"]#misc {
accent-color: var(--category-misc);
}

.filter-category-checkbox input[type="radio"]#pasta {
accent-color: var(--category-pasta);
}


.search_results {
width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.search_page_headline {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid var(--background-color-light);
color: var(--background-color-light);
}

.serp{
grid-column: 2 / span 10;
}
.search_page_headline_two {

     border-bottom: 1px solid var(--background-color-light);
color: var(--background-color-light);
}

.search_page_headline_three {

     border-bottom: 1px solid var(--background-color-light);
color: var(--background-color-light);
 margin-bottom: 900px
}
.serp-item {
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 50px;
   ;
}
.serp-item a {
padding-left: 10px;
}

.serp-item h3 {
color: var(--background-color-light);
font-weight: 500;
}

.serp-item h2 {
color: var(--primary-color);
font-weight: 700;
text-transform: uppercase;
}

.serp-item p {
color: var(--background-color-light);
margin-bottom: 50px;
font-size: 16px;
}


/* chef page */

.hero-chef {
    min-height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    border-bottom: 1px solid var(--background-color-dark-bg);



}

.hero-container-chef {
     display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: var(--width-12col);

}




.hero_chef_image {
    grid-column: 7 / span 6;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

} 

.hero-text-chef {
     grid-column: 1 / span 6;
    grid-row: 1;
    margin-top: 50px;
}

.hero-text-chef h1 {
    color: var(--background-color-light);
padding: 0; 
gap: 0;   
font-size: 37px;
    font-weight: 700;
}

.hero-text-chef h2 {
    color: var(--primary-color);
padding: 0 0 30px 0;    
font-size: 36px;
    font-weight: 500;
}

.hero-text-chef h4 {
    color: var(--primary-color);
font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
}


.hero-text-chef p {
    font-size: 14px;
    line-height: 2;
        color: var(--background-color-light);
            font-weight: 400;

}

.chef_page_headline {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid var(--background-color-light);
color: var(--background-color-light);
margin-top: 100px;
}

.hero-container-chef-sec {
       display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: var(--width-12col);
}

.hero_chef_image_sec {
    grid-column: 1 / span 5;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

} 

.hero-text-chef-sec {
     grid-column: 7 / span 6;
    grid-row: 1;
    margin-top: 50px;
}

.hero-text-chef-sec h1 {
    color: var(--background-color-light);
padding: 0; 
gap: 0;   
font-size: 37px;
    font-weight: 700;
}

.hero-text-chef-sec h2 {
    color: var(--primary-color);
padding: 0 0 30px 0;    
font-size: 36px;
    font-weight: 500;
}

.hero-text-chef-sec p {
    font-size: 14px;
    line-height: 2;
        color: var(--background-color-light);
            font-weight: 400;

}

.hero-text-chef-sec-top {
   text-align: right;
}

.section-kitchen {
display: grid;
grid-template-columns: repeat(12, 1fr);
width: var(--width-12col);
margin: 100px auto;
}

.section-kitchen-image {
    grid-column: 1 / span 12;
    height: 550px;
    background: url(Img/kitch.png);
    background-size: cover;
    background-position: center;
}

.section-kitchen-text {
    grid-column: 2/ span 10;
    background: var(--background-color-light);
    padding: 40px;
}

.section-kitchen-text h2 {
    color: var(--primary-color);
    text-align: center;
    font-size: 22px;
}

.section-kitchen-text p {
  text-align: end;
}



